### .gitignore
.#
.*~
*~
.git_backup
ac-comphist.dat
.emacs.d/*.dat
.emacs.d/.#*
.emacs.d/auto-save-list/*
.emacs.d/ac-comphist.dat
.emacs.d/%backup%*
.emacs.d/public_repos/*
.emacs.d/backups/*
.emacs.d/etc/template/cpp_office
.emacs.d/eshell/
.emacs.d/elpa/*

### OS X
.DS_Store



.emacs.d/url/cookies

.emacs.d/elpa/archives/gnu/archive-contents
shellenv.el
